<div class="row">
	<div class="col-md-12 col-md-offset-4">
	<%= simple_form_for(@user, html: {class: "admin_form col-xs-4 animated fadeInLeft visible"} ) do |f| %>
		<h2>Information</h2>
		<%= f.input :phone, required: true, placeholder: "Phone", label: false %>
		<%= f.input :email_support, required: true, placeholder: "Email Support", label: false %>
		<div class="divider"></div>
		<%= f.input :email, required: true, placeholder: "Email", label: false %>
		<%= f.input :password, required: true, placeholder: "Password", label: false %>
		<%= f.input :password_confirmation, required: true, placeholder: "Password Confirmation", label: false %>

		<%= f.button :submit, "Login", class: "btn btn-primary form-btn" %>
		<div class="divider"></div>
		<%= link_to "Back", root_path, class: "btn back-btn" %>
	<% end %>
	</div>
</div>