 <!-- Contact Section -->
  <section id="contact" class="container parallax5">

    <%= render 'google_map' %>
    <!-- Contact Inner -->
    <div class="inner contact">
      <!-- Header -->
      <h1 class="header semibold white">Get In <span class="extrabold">Touch</span></h1>

      <!-- Description -->
      <h4 class="h-desc white contact-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled. </h4>

      <!-- Form Area -->
      <div class="contact-form">
        <!-- Form -->
        <%= simple_form_for @contact, url: root_path do |f| %>
        <!-- Left Inputs -->
        <div class="col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="300">
          <!-- Name -->
          <%= f.input :name, required: true, placeholder: "Name", label: false, input_html: { class: "form light" } %>
          <!-- Email -->
          <%= f.input :email, required: true, placeholder: "Email", label: false, input_html: { class: "form light" } %>
          <!-- Subject -->
          <%= f.input :subject, required: true, placeholder: "Subject", label: false, input_html: { class: "form light" } %>
        </div><!-- End Left Inputs -->
        <!-- Right Inputs -->
        <div class="col-xs-6 animated" data-animation="fadeInRight" data-animation-delay="300">
          <!-- Message -->
          <%= f.input :message, as: :text, required: true, placeholder: "Message", label: false, input_html: { class: "form textarea light" } %>
        </div><!-- End Right Inputs -->
        <!-- Bottom Submit -->
        <div class="relative fullwidth col-xs-12">
          <!-- Send Button -->
          <%= f.button :submit, "Send Message", class: "form-btn light" %>
        </div><!-- End Bottom Submit -->
          <!-- Clear -->
          <div class="clear"></div>
        <% end %>
        
        <!-- Your Mail Message -->
        <div class="mail-message-area">
          <!-- Message -->
          <div class="alert gray-bg mail-message not-visible-message">
            <strong>Thank You !</strong> Your email has been delivered.
          </div>
        </div>

      </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->
  </section><!-- End Contact Section -->
